[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.25"
pillow = "==10.4.0"
django-bootstrap5-form = "==5.0.1"
django-widget-tweaks = "==1.5.0"
reportlab = "==4.2.2"
xhtml2pdf = "==0.2.16"
django-paypal = "==2.1"
django-background-tasks = "==1.2.5"
celery = "==5.4.0"
django-celery-beat = "==2.6.0"
redis = "==5.0.8"
amqp = "==5.2.0"
arabic-reshaper = "==3.0.0"
asgiref = "==3.8.1"
asn1crypto = "==1.5.1"
billiard = "==4.2.0"
certifi = "==2024.7.4"
cffi = "==1.17.0"
chardet = "==5.2.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
click-didyoumean = "==0.3.1"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
colorama = "==0.4.6"
cron-descriptor = "==1.4.3"
cryptography = "==43.0.0"
cssselect2 = "==0.7.0"
django-compat = "==1.0.15"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "==8.0.0"}
django-timezone-field = "==7.0"
html5lib = "==1.1"
idna = "==3.7"
kombu = "==5.4.0"
lxml = "==5.3.0"
oscrypto = "==1.3.0"
phonenumberslite = "==8.13.43"
prompt-toolkit = "==3.0.47"
pycparser = "==2.22"
pyhanko = "==0.25.1"
pyhanko-certvalidator = "==0.26.3"
pypdf = "==4.3.1"
pypng = "==0.20220715.0"
python-bidi = "==0.6.0"
python-crontab = "==3.2.0"
python-dateutil = "==2.9.0.post0"
pytz = "==2024.1"
pyyaml = "==6.0.2"
qrcode = "==7.4.2"
requests = "==2.32.3"
six = "==1.16.0"
sqlparse = "==0.5.1"
svglib = "==1.5.1"
tinycss2 = "==1.3.0"
typing-extensions = "==4.12.2"
tzdata = "==2024.1"
tzlocal = "==5.2"
uritools = "==4.0.3"
urllib3 = "==2.2.2"
vine = "==5.1.0"
wcwidth = "==0.2.13"
webencodings = "==0.5.1"
django-allauth = "*"
python-dotenv = "*"
dotenv = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
