[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-bootstrap5-form = "*"
django-widget-tweaks = "*"
reportlab = "*"
xhtml2pdf = "*"
psycopg2 = "*"
django-paypal = "*"
django-background-tasks = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
