.card-wrapper-appart{
    max-width: 1200px;
    /* margin: 0 auto; */
    display: flex;
       
}
.card-appart-details{
    background-color: beige !important;
}
.appart-imgs{
    width: 100%;
}
.card-appart-details{
    display: flex;
    flex-direction: row !important;
}
.card-wrapper-appart img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    border-radius: 0.5rem;
    padding:0.2rem;
}
.img-select{
    display: flex;
}
.img-select img{
    border-radius: 0.5rem;
}
.img-item{
    margin: 0.3rem;
}
.img-item img{
    height: 100px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.appart-content{
    padding: 2rem 1rem;
}
.appart-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.appart-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.appart-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.appart-link:hover{
    opacity: 0.9;
}
.appart-rating{
    color: #ffc107;
}
.appart-rating span{
    font-weight: 600;
    color: #252525;
}
.appart-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.appart-price span{
    font-weight: 400;
}
.new-price{
    font-size: 1.5rem;
}
.new-price span{
    color: #256eff;
    /* font-size: 1.5rem; */
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.appart-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.appart-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.appart-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}

.appart-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.vl{
    border: 0.2px solid #12263a;
}

@media screen and (max-width: 768px) {
    .card-appart-details{
        display: flex;
        flex-direction: column !important;
    }
}


@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper-appart{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .appart-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .appart-content{
        padding-top: 0;
    }
}