.card-appart{
    color: black;
    text-decoration: none;
}
.card-appart:hover{
    color: black;
}

.content-appart{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 2rem;
    
}

.image img{
    border-radius: .5rem;
}