{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/booking_list_view.css' %}">


{% block title %}My Booking List{% endblock title %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-3 mt-2 px-2">
        {% for booking in booking_list  %}        
            <div class="col">
                <div class="card">
                    <img src="{{ booking.room.image_room.url }}" class="card-img-top px-2 py-2" alt="image room" >
                    <div class="card-body">
                        <h5 class="card-title"><strong>Room ID:</strong> {{booking.room.id}}</h5>
                        <p class="card-text"><strong>Name:</strong> {{ booking.name }}</p>
                        <p class="card-text"><strong>Phone Number:</strong> {{ booking.phone_number }}</p>
                        <p class="card-text"><strong>Date IN:</strong> {{ booking.date_enter }}</p>
                        <p class="card-text"><strong>Date Out:</strong> {{ booking.date_out }}</p>
                        <p class="card-text"><strong>Bed(s):</strong> {{ booking.room.beds }}</p>
                        <p class="card-text"><strong>Bath(es):</strong> {{ booking.room.bath }}</p>
                        <p class="card-text"><strong>Price Per night</strong>: {{ booking.room.price_per_night }} DA</p>
                        <p class="card-text"><strong>Total:</strong> {{ booking.total }} DA</p>
                        {% if booking.is_paied %}
                            <p class="card-text"><strong>Paied</strong></p>

                        {% else %}
                            <p class="card-text"><strong>NOT PAIED</strong></p>
                        {% endif %}
                        {% if booking.date_out > now  %}
                            <p class="card-text"><a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger" onclick="return confirm('Are Your sure you want to cancel the booking')">Cancel The Booking</a></p>
                            <p class ="card-text"><a href="{% url 'gen_pdf' booking.id %}" class="btn btn-success">Download the PDF</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
