{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Details Room {{ room_id.id }}{% endblock title %}



{% block content %}

    <div class="card-wrapper-appart container">
        <div class="card card-appart-details">
            <!-- card left -->
            <div class="appart-imgs">
                <div class="img-display">
                    
                    <div class="img-showcase">
                        {% for img in room_id.roomimages_set.all %}
                            <img src="{{ img.image.url }}" alt="image">
                        {% endfor %}
                    </div>
                </div>
                <div class="img-select">

                    {% for img in room_id.roomimages_set.all %} 
                        <div class="img-item">
                            <a href="#" data-id="{{ forloop.counter }}">
                                <img src="{{ img.image.url }}" alt="image">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="vl"></div>
            <!-- card right -->
            <div class="appart-content">
                <h2 class="appart-title">Room ID : {{room_id.id}}</h2>
                <div class="appart-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7(21)</span>
                </div>

                <div class="appart-detail">
                    <h2>About this Room:</h2>
                    <p>{{ room_id.description }}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <p class="card-text"><small class="text-muted"><i class="fa fa-bed"></i> {{ room_id.beds }} bed(s)</small></p>
                    <p class="card-text"><small class="text-muted"><i class="fa fa-bath"></i> {{ room_id.bath }} bath(es)</small></p>
                    <p class="card-text"><small class="text-muted"><i class="fas fa-home"></i> {{ room_id.space }} m2</small></p>
                </div>
                <div class="appart-price">
                    <p class="new-price">Price: <span>{{ room_id.price_per_night }} DA/Night</span></p>
                </div>
                <form role="form" method="POST" class="form-booking-details-page">
                    {% csrf_token %}
                    <div class="label-field-form">
                        {% for field in form  %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                                <div class="invalid-feedback">
                                    {{ field.error|striptags }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br/>
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="pay_on_hotel" checked value="pay_on_hotel">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Pay when you arrive to the hotel.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="paypal_payment" value="paypal_payment">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Pay with Paypal.
                        </label>
                    </div>
                    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Book now 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container" >
        <h4>Leave a Comment</h4>
        <form method="POST">  
            {% csrf_token %}
            {% for field_comment in formComment  %}
                {{ field_comment }}
            {% endfor %}
            
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br/>

    <div class="comment-div container">
        <h1>Comments</h1>
        {% for comment in comments %}
            <div class="comment-box border rounded p-3 mb-3">
                <div class="comment-header d-flex justify-content-between">
                    <h5 class="comment-user mb-1">{{ comment.user }}</h5>
                    <small class="text-muted">{{ comment.created_on|date:"F j, Y, g:i a" }}</small>
                </div>
                <div class="comment-body">
                    <p class="comment-text">{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <script>
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        
        let imgId = 1;
    
        imgBtns.forEach((imgItem) => {
            imgItem.addEventListener('click', (event) => {
                event.preventDefault();
                imgId = imgItem.dataset.id;
                slideImage();
            });
        });
    
        function slideImage(){
            const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
            document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }
    
        window.addEventListener('resize', slideImage);
    </script>
    

{% endblock content %}